<div id="<%= @id %>">
  <ul class="slides-container">
    <%= @slide_builder %>
  </ul>
  <nav class="slides-navigation">
    <a href="#" class="next">Next</a>
    <a href="#" class="prev">Previous</a>
  </nav>
</div>