<section style="background-color: <%= @background_color %>;" id="msg-box8-0" class="mbr-section--bg-adapted mbr-section--relative <%= @after_nav %>">
    <div style="padding-top: 70px; padding-bottom: 0px;" class="info-content">
        
        <div class="container">
            <div class="row center-content center-content-ipad">
                <div class="col-md-6 col-sm-7 text-center">
                    <figure class="mbr-figure mbr-figure--adapted mbr-figure--full-width"><img class="mbr-figure__img img-responsive center-content" src="<%= @cta_image %>"></figure>
                </div>
                <div class="col-md-6 col-sm-5">
                    <h3><%= @title %></h3>
                    <p><%= @body %></p>
                    <div class="space30"></div>
                    <div><a class="btn btn-lg <%= @cta_class %>" href="<%= @cta_link %>"><%= @cta %></a></div>
                </div>
            </div>
        </div>
    </div>
</section>