<section style="background-color: <%= @background_color %>;" id="msg-box9-0" class="mbr-section--bg-adapted mbr-section--relative <%= @after_nav %>">
    <div style="padding-top: 80px; padding-bottom: 65px;" class="cta-wrap bg-primary">
        
        <div class="container">
            <div class="col-md-9">
                <h2><%= @title %></h2>
                <p><%= @body %></p>
            </div>
            <div class="col-md-3">
                <div>
                    <a href="<%= @cta_link %>" class="btn cta-btn <%= @cta_class %>"><%= @cta %></a>
                </div>
            </div>
        </div>
    </div>
</section>