<section id="menu2-0" class=" mbr-navbar--transparent <%= @sticky %> <%= @collapsed %>">

        <nav class="navbar-inverse navbar-lg navbar-fixed-top navbar">
            <div class="container">

                <div class="navbar-header mbr-brand mbr-brand--inline min-menu navbar-brand" style="padding-top: 0px;">
                    <div class="navbar-logo2"><a href="/"><img src="<%= @logo %>" class="navbarimg" alt="<%= @logo_alt %>"></a></div>
                    <div class="brandName2">
                        <% unless @brand == "" %>
                            <a href="/" class="text-black"><%= @brand %></a>
                        <% end %>
                    </div>
                </div>


                <button type="button" class="navbar-toggler pull-xs-right hidden-md-up collapsed" style="top: 46%" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                
                <ul class="nav-dropdown pull-xs-right navbar-toggleable-sm nav navbar-nav collapse simplemenu" id="exCollapsingNavbar">
                    <ul class="nav navbar-nav navbar-right navbar-login">
                        <li nav-item="">
                           <%= @button_builder %>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown1 nav-item">
                            <%= @nav_builder %>
                        </li>
                    </ul>
                </ul>
            </div>
        </nav>
</section>
