<section class="parallax-content text-center <%= @after_navbar %>" data-stellar-background-ratio="<%= @background_ratio %>" id="parallax1-0" style="background-image: url(<%= @background_image %>); padding-top: 200px; padding-bottom: 200px;">
    <div class="mbr-overlay" style="opacity: <%= @overlay_opacity %>; background-color: <%= @overlay_color %>;"></div>
    <div class="parallax container">
        <h4><%= @title %></h4>
        <p><%= @body %></p>
    </div>
</section>