<section class="mbr-slider mbr-section mbr-section--no-padding carousel slide <%= @after_navbar %>" data-ride="carousel" data-wrap="true" data-interval="<%= @interval %>" id="<%= @id %>" style="background-color: <%= @background_color %>;">
    <div class="mbr-section__container">
        <div>
            <ol class="carousel-indicators">
                <% @slides.each_with_index do |slide,index| %>
                <li data-app-prevent-settings="" data-target="#<%= @id %>" <% if index == 0 %> class="active" <% end %> data-slide-to="<%= index %>"></li>
                <% end %>
            </ol>

            <!-- start slides -->
           
            <div class="carousel-inner" role="listbox">

                <!-- slides start -->
                <% @slides.each_with_index do |slide,index| %>
                    <% 
                        if slide[:align].downcase == "left"
                            mbr_box__magnet = "mbr-box__magnet--center-left"
                            cols = "col-md-6 col-md-offset-1"
                            button_align = "mbr-buttons--left"
                        elsif slide[:align].downcase == "center"
                            mbr_box__magnet = "mbr-box__magnet--center-center"
                            cols = "col-md-8 col-md-offset-2"
                            button_align = "mbr-buttons--center"
                        elsif slide[:align].downcase == "right"
                            mbr_box__magnet = "mbr-box__magnet--center-right"
                            cols = "col-md-6 col-md-offset-5"
                            button_align = ""
                        else
                            mbr_box__magnet = "mbr-box__magnet--center-left"
                            cols = "col-md-6 col-md-offset-1"
                            button_align = "mbr-buttons--left mbr-buttons--right"
                        end 
                     %>
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height <% if index == 0 %>active<% end %>" style="background-image: url(<%= slide[:background_image] %>);">
                    <div class="mbr-box__magnet <%= mbr_box__magnet %> mbr-box__magnet--sm-padding">
                        <div class="mbr-overlay"></div>                        
                        <div class=" container">

                            <div class="row">
                                <div class="<%= cols %>">  

                                    <div class="mbr-hero">
                                        <h1 class="mbr-hero__text"><%= slide[:text] %></h1>

                                        <p class="mbr-hero__subtext"><%= slide[:subtext] %></p>
                                    </div>

                                    <% unless slide[:button_text].nil? %>
                                    <div class="mbr-buttons btn-inverse <%= button_align %>">
                                        <a class="mbr-buttons__btn btn <%= slide[:button_css] %>" href="<%= slide[:button_url] %>"><%= slide[:button_text] %></a>
                                    </div>
                                    <% end %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
                <!-- end slides -->

            </div>
            
            <!-- Arrows -->
            <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#<%= @id %>">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#<%= @id %>">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>