<section class="services icon-box services mbr-section--bg-adapted mbr-section--relative" id="features4-0" style="background-color: <%= @background_color %>; padding-top: 100px; padding-bottom: 100px;">
        
        <div class="container">
            <div class="row">
              
                <% @features.each do |feature| %>
                <div class="col-md-4 col-sm-4">
                    <div class="service-box">
                        <i class="fa <%= feature[:icon] %>"></i>
                        <div>
                            <h4><%= feature[:title] %></h4>
                            <p><%= feature[:body] %></p>
                        </div>
                    </div>
                </div>
                <% end %>
               
            </div>
        </div>
    </section>