<section style="background-image: url(<%= @background_image %>);" id="header21-0" class="mbr-section--bg-adapted  <%= @after_navbar %>">
    <div style="padding-top: 200px; padding-bottom: 140px;" class="intro intro13">
        <div style="opacity: <%= @overlay_opacity %>; background-color: <%= @overlay_color %>;" class="mbr-overlay"></div>
        <div class="container">
            <div class="row center-content">

                <div class="col-md-7">
                     <figure class="mbr-figure mbr-figure--adapted mbr-figure--full-width <%= @cta_image_class %>"><img class="mbr-figure__img img-responsive" src="<%= @cta_image %>"></figure>
                </div>
                <div class="col-md-5">
                    <h3><%= @title %></h3>
                    <p><%= @body %></p>
                    <div class="space40"></div>

                    <a href="<%= @cta_link %>" class="swipebox-video">
                    <div class="intro-video-pop">
                        <div><img class="mbr-figure__img img-responsive" src="assets/images/1.jpg"></div>
                        <span>Watch Video</span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>