<section class="mbr-section--bg-adapted <%= @after_navbar %>" id="header8-0" style="background-image: url(<%= @background_image %>);">
    <div class="intro intro15" style="padding-top: 120px; padding-bottom: 80px;">
        <div class="mbr-overlay" style="opacity: <%= @overlay_opacity %>; background-color: <%= @overlay_color %>;"></div>
        <div class="container">
            <div class="row center-content">
                <div class="col-md-5">
                    <h3><%= @title %></h3>
                    <p><%= @body %></p>
                    <div class="space40"></div>
                    <% unless @cta == "" %>
                        <div><a class="btn <%= @cta_class %>"><i class="fa <%= @cta_icon %>"></i> <%= @cta %></a></div>
                    <% end %>
                </div>

                <div class="col-md-7">
                    <div class="hl-container pull-right">
                        <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"><img src="<%= @cta_image %>" class="mbr-figure__img hl-image <%= @cta_image_class %>"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>