<section class="mbr-section--bg-adapted <%= @after_navbar %>" id="header4-0" style="background-image: url(<%= @background_image %>);">
    <div class="intro intro11" style="padding-top: 230px; padding-bottom: 220px;">
        <div class="mbr-overlay" style="opacity: <%= @overlay_opacity %>; background-color: <%= @overlay_color %>;"></div>
        <div class="container">
            <div class="row center-content">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h3><%= @title %></h3>
                    <p><%= @body %></p>
                </div>
            </div>
        </div>
    </div>
</section>