<section style="background-image: url(<%= @background_image %>);" id="header18-0" class="mbr-section--bg-adapted <%= @after_navbar %>">
    <div style="padding-top: 160px; padding-bottom: 0px;" class="intro intro8">
        <div style="opacity:  <%= @overlay_opacity %>; background-color: <%= @overlay_color %>;" class="mbr-overlay"></div>
        <div class="container">
            <div class="row center-content">
                <div class="col-md-5">
                    <h3><%= @title %></h3>
                    <p><%= @body %></p>
                    <div><a class="btn <%= @cta_class %>" href="<%= @cta_link %>"><i class="fa <%= @cta_icon %>"></i> <%= @cta %></a></div>
                </div>

                <div class="col-md-6 col-md-push-1 <%= @cta_image_class %>"><img class="pull-left" src="<%= @cta_image %>"></div>
            </div>
        </div>
    </div>
</section>