<div class="container-fluid" id="<%= id %>" style="background-image:url(<%= image %>); text-align:left;">
	<div class="row">
		<div class="col-md-12">
			<h3><%= title %></h3>
			<p><%= body %></p>
		</div>
	</div>
</div>