<!--  -->
<% unless link == "" %><a href="<%= link %>" target="<%= link_target %>" css="<% "thumbnail" if corners == "thumbnail" %>"><% end %>
	<img src="<%= src %>" width="<%= width %>" height="<%= height %>" css="<%= css %>" alt="">
<% unless link == "" %></a><% end %>